@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #c15bd8;
  text-shadow: 1px 1px 2px #444;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: #c15bd8;
  color: #fff;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #c15bd8;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #c15bd8;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.btn-dark:hover {
  background: #f4f4f4;
  border: 1px solid #212121;
  color: #c15bd8;
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #fff;
  color: #333;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: rgb(0, 0, 0);
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #c15bd8;
  border-radius: 5px;
}

/* Showcase */
#showcase {
  background: #333 url("../assets/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Section: What We Do */
#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i {
  background: #c15bd8;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Section: Who We Are */
#who {
  display: flex;
}

img {
  max-width: 100%;
  height: 100%;
}

#who div {
  flex: 1;
}

/* Section: Contact */
#contact {
  display: flex;
}

.contact-form {
  border: 2px solid #212121;
}

.people {
  margin-top: 1rem;
}

.map {
  border: 2px solid #682377;
  border-left: none;
}

#contact .map,
#contact .contact-form {
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact {
  display: flex;
}

.contact-form {
  border: 2px solid #212121;
}

.people {
  margin-top: 1rem;
}

.map {
  border: 2px solid #682377;
  border-left: none;
}

#contact .map,
#contact .contact-form {
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}

/* MAKE THE GOOGLE MAPS RESPONSIVE */
.map-responsive {
  flex: 1;
  position: relative;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
}

.map-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.testimonials {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  display: block;
  width: 100%;
  min-height: 250px;
}

.testimonials ul {
  list-style: none;
  padding: 1rem;
}

.testimonials li {
  display: inline-block;
  background-color: white;
  margin: 50px 10px 10px 10px;
  width: calc((100% - 55px) / 2);
  height: 200px;
  border: solid 1px #bdbdbd;
  position: relative;
  transition: ease-in-out 0.3s;
}

.testimonials li img {
  height: 70px;
  width: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 15px #fff;
  background-color: #fff;
  transition: box-shadow 0.3s linear;
}

.testimonials li p {
  position: absolute;
  width: 70%;
  text-align: center;
  top: 50px;
  left: 50%;
  transform: translatex(-50%);
  font-size: 15px;
}

.testimonials li h1 {
  position: absolute;
  text-decoration: bold;
  bottom: 10px;
  left: 50%;
  transform: translatex(-50%);
  font-size: 17px;
}

.testimonials li:hover {
  background-color: #212121;
  color: #fff;
}

.testimonials li:hover img {
  box-shadow: 0px 0px 0px 2px #fff;
}

#testimonial {
  background: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;
}

#testimonial p {
  font-size: 1.6rem;
  font-family: "Josefin Sans";
  color: #000;
}

#testimonial p.customer {
  font-size: 1.2rem;
  color: #666;
}

img.LOGO {
  height: 32px !important;
  max-width: fit-content;
}

@import url(https://pro.fontawesome.com/releases/v5.11.2/css/all.css);
:root {
  --user-button-circle: rgba(0, 0, 0, 0.025);
  --user-button-cardborder: rgba(255, 255, 255, 0.25);
  --user-button-text: #323133;
  --user-button-shadow: rgba(0, 0, 0, 0.1);
}

body #user-button {
  z-index: 1000;
  bottom: 1rem !important;
  right: 1rem !important;
  color: var(--user-button-text);
  transition: 1s 0s ease-out;
  -webkit-animation: slide 3s ease-out forwards;
  animation: slide 3s ease-out forwards;
}
@-webkit-keyframes slide {
  0%,
  50% {
    opacity: 0;
    display: block !important;
  }
  100% {
    opacity: 1;
    display: block !important;
  }
}
@keyframes slide {
  0%,
  50% {
    opacity: 0;
    display: block !important;
  }
  100% {
    opacity: 1;
    display: block !important;
  }
}
body #user-button .u-card {
  border-radius: 100%;
  box-shadow: 0 0 1rem -0.25rem var(--user-button-shadow),
    inset 0 0 1rem -0.75rem var(--user-button-shadow);
}
body #user-button .u-main {
  cursor: pointer;
  --user-button-background: var(--user-button-main, #ec87c0);
}
body #user-button .u-main img {
  height: 100%;
  width: 100%;
}
body #user-button .u-main iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  opacity: 1;
  transition: 0s 4s;
}
body #user-button .u-icons {
  position: relative;
  z-index: 950;
  transform: translate(-50%, -50%);
  background: var(--user-button-circle);
  box-shadow: 0 0 0 0.125rem var(--user-button-cardborder);
  border-radius: 100%;
  transition: 0.25s;
  opacity: 1 !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /*&:before {
     z-index:-1;
     position:absolute;
     top:0; right:0; bottom:0; left:0;
     content:'';

     backdrop-filter: blur(10px);
  }*/
}
body #user-button .u-icons a {
  color: inherit;
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
body #user-button .u-icons a div {
  padding: 0.5rem;
  transition: 0s;
}
body #user-button .u-icons a[href="https://twitter.com/zed_dash"]
{
  position: relative;
}
body #user-button .u-icons a[href="https://twitter.com/zed_dash"]:before
{
  content: "Middle Click";
  position: absolute;
  top: -1.5rem;
  left: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: pre;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-in;
  background: #fffc;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
body #user-button .u-icons a[href="https://twitter.com/zed_dash"].show:before
{
  opacity: 1;
  transition: 0.25s ease-out;
}
body #user-button .u-icons a[href="https://twitter.com/zed_dash"] div
{
  color: #1da1f2;
}
body #user-button .u-icons a[href="https://codepen.io/z-"] div
{
  background: black;
  color: white;
}
body #user-button .u-icons a.u-random div {
  position: relative;
  top: -1px;
  -webkit-animation: diespin 2s linear infinite;
  animation: diespin 2s linear infinite;
}
@-webkit-keyframes diespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes diespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body #user-button .u-icons a.u-random:not(:hover) div {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
body #user-button .u-icons > * {
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--singlecolour);
  border-radius: 100%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: 0.25s -0.05s;
}
body #user-button .u-icons > *:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body #user-button .u-icons > *:hover,
body #user-button .u-icons > *:focus-within {
  background: var(--hcolour);
}
body #user-button .u-icons > *:first-child:nth-last-child(1):nth-child(1),
body #user-button .u-icons > *:first-child:nth-last-child(1) ~ *:nth-child(1) {
  left: 25%;
  top: 25%;
}
body #user-button .u-icons > *:first-child:nth-last-child(2):nth-child(1),
body #user-button .u-icons > *:first-child:nth-last-child(2) ~ *:nth-child(1) {
  left: 37.5%;
  top: 18.75%;
}
body #user-button .u-icons > *:first-child:nth-last-child(2):nth-child(2),
body #user-button .u-icons > *:first-child:nth-last-child(2) ~ *:nth-child(2) {
  left: 18.75%;
  top: 37.5%;
}
body #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(1),
body #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(1) {
  left: 50%;
  top: 15.625%;
}
body #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(2),
body #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(2) {
  left: 25%;
  top: 25%;
}
body #user-button .u-icons > *:first-child:nth-last-child(3):nth-child(3),
body #user-button .u-icons > *:first-child:nth-last-child(3) ~ *:nth-child(3) {
  left: 15.625%;
  top: 50%;
}
body #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(1),
body #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(1) {
  left: 62.5%;
  top: 18.75%;
}
body #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(2),
body #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(2) {
  left: 37.5%;
  top: 18.75%;
}
body #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(3),
body #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(3) {
  left: 18.75%;
  top: 37.5%;
}
body #user-button .u-icons > *:first-child:nth-last-child(4):nth-child(4),
body #user-button .u-icons > *:first-child:nth-last-child(4) ~ *:nth-child(4) {
  left: 18.75%;
  top: 62.5%;
}
body #user-button:hover .u-icons,
body #user-button:focus-within .u-icons {
  width: 300% !important;
  height: 300% !important;
}

body.dark {
  background: #232223;
  color: white;
}
@media (prefers-color-scheme: dark) {
  body:not(.light) {
    background: #232223;
    color: white;
  }
}
.options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}
@media screen and (max-width: 718px) {
  .options {
    min-width: 520px;
  }
  .options .option:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 638px) {
  .options {
    min-width: 440px;
  }
  .options .option:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 558px) {
  .options {
    min-width: 360px;
  }
  .options .option:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  .options {
    min-width: 280px;
  }
  .options .option:nth-child(2) {
    display: none;
  }
}
.options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.options .option:nth-child(1) {
  --defaultBackground: #ed5565;
}
.options .option:nth-child(2) {
  --defaultBackground: #fc6e51;
}
.options .option:nth-child(3) {
  --defaultBackground: #ffce54;
}
.options .option:nth-child(4) {
  --defaultBackground: #2ecc71;
}
.options .option:nth-child(5) {
  --defaultBackground: #5d9cec;
}
.options .option:nth-child(6) {
  --defaultBackground: #ac92ec;
}
.options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
}
.options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black,
    inset 0 -120px 120px -100px black;
}
.options .option.active .label {
  bottom: 20px;
  left: 20px;
}
.options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
.options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}
.options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
.options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
.options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
.options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}
.options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}
.options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
.options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}
.options .option .label .info .sub {
  transition-delay: 0.1s;
}

#who {
  position: absolute;
  display: flex;
  top: 2rem;
  justify-content: center;
  height: 100vh;
  color: #fff;
  width: 100%;
}

section.container-2 {
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  transition: 0.25s;
  position: relative !important;
  color: #fff !important;
  position: relative !important;
}

.container-2::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/big_4.png") !important;
  background-size: cover;
  background-position: center;
  z-index: -2;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

ul li {
  list-style-type: none;
}

.slider--teams {
  position: relative;
  top: 50%;
  left: 50%;
  max-width: 750px;
  opacity: 0;
  transform: translate(-50%, -50%);
}
.slider--teams .slider--teams__team {
  position: relative;
  overflow: hidden;
}

#list {
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}
#list li {
  position: relative;
  display: inline-block;
  float: left;
  text-align: center;
}
#list li figure {
  cursor: pointer;
  margin: 1em;
  opacity: 0.5;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
    opacity 450ms ease-in-out;
  transform: scale(0.5) translateZ(0px);
}
#list li figure:hover {
  opacity: 0.8;
  transform: scale(0.6) translateZ(0px);
}
#list li figure:active {
  opacity: 1;
  transform: scale(0.7) translateZ(0px);
}
#list li figure > div {
  border-radius: 5px;
  position: relative;
  margin: 2rem auto;
  width: 120px;
  height: 120px;
  overflow: hidden;
  transform: rotate(45deg) translateZ(0px);
}
#list li figure > div > div {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/teams.jpg)
    no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 170px;
  height: 170px;
  transform: rotate(-45deg) translate(0%, -70%);
}
#list li figure figcaption h2 {
  color: #333;
  font-size: 1.6rem;
  font-weight: 800;
}
#list li figure figcaption p {
  color: #666;
  font-size: 0.9rem;
  font-weight: 400;
}
#list li:nth-child(1) figure > div > div {
  background-position: 0px 0px !important;
}
#list li:nth-child(2) figure > div > div {
  background-position: 0px 20% !important;
}
#list li:nth-child(3) figure > div > div {
  background-position: 0px 40% !important;
}
#list li:nth-child(4) figure > div > div {
  background-position: 0px 60% !important;
}
#list li:nth-child(5) figure > div > div {
  background-position: 0px 80% !important;
}
#list li:nth-child(6) figure > div > div {
  background-position: 0px 100% !important;
}

.active {
  opacity: 1 !important;
  transform: scale(1) translateZ(0px) !important;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.parent-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide the container into two equal columns */
  gap: 20px; /* Gap between the columns */
}

.content-container {
  display: flex;
  justify-content: flex-start; /* Align the content to the left side */
  align-items: center; /* Vertically center the content */
}

.picture-container {
  display: flex;
  justify-content: flex-end; /* Align the picture to the right side */
  align-items: center; /* Vertically center the picture */
}

h4 {
  position: absolute;
  font-size: 3rem;
  font-family: fantasy;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}

.about {
  position: fixed;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 0.2s ease;
}
.about .bg_links {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
}
.about .logo {
  width: 40px;
  height: 40px;
  z-index: 9;
  background-image: url(https://rafaelavlucas.github.io/assets/codepen/logo_white.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 10px 7px;
  opacity: 0.9;
  transition: all 1s 0.2s ease;
  bottom: 0;
  right: 0;
}
.about .social {
  opacity: 0;
  right: 0;
  bottom: 0;
}
.about .social .icon {
  width: 100%;
  height: 100%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: flex;
  transition: all 0.2s ease, background-color 0.4s ease;
  opacity: 0;
  border-radius: 100%;
}
.about .social.portfolio {
  transition: all 0.8s ease;
}
.about .social.portfolio .icon {
  background-image: url(https://rafaelavlucas.github.io/assets/codepen/link.svg);
}
.about .social.dribbble {
  transition: all 0.3s ease;
}
.about .social.dribbble .icon {
  background-image: url(https://rafaelavlucas.github.io/assets/codepen/dribbble.svg);
}
.about .social.linkedin {
  transition: all 0.8s ease;
}
.about .social.linkedin .icon {
  background-image: url(https://rafaelavlucas.github.io/assets/codepen/linkedin.svg);
}
.about:hover {
  width: 105px;
  height: 105px;
  transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .logo {
  opacity: 1;
  transition: all 0.6s ease;
}
.about:hover .social {
  opacity: 1;
}
.about:hover .social .icon {
  opacity: 0.9;
}
.about:hover .social:hover {
  background-size: 28px;
}
.about:hover .social:hover .icon {
  background-size: 65%;
  opacity: 1;
}
.about:hover .social.portfolio {
  right: 0;
  bottom: calc(100% - 40px);
  transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.portfolio .icon:hover {
  background-color: #698fb7;
}
.about:hover .social.dribbble {
  bottom: 45%;
  right: 45%;
  transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.dribbble .icon:hover {
  background-color: #ea4c89;
}
.about:hover .social.linkedin {
  bottom: 0;
  right: calc(100% - 40px);
  transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.linkedin .icon:hover {
  background-color: #0077b5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
a,
i,
input,
figure,
img {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
}
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
ul:focus,
li:focus,
button:focus,
a:focus,
i:focus,
input:focus,
figure:focus,
img:focus {
  outline: 0;
}

div {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: "Barlow", sans-serif;
  background: white;
}

.parent-container {
  display: grid;
  grid-template-columns: 1fr 50%; /* Adjust the width of the second column as needed */
  gap: 20px; /* Gap between the columns */
}

.content-container {
  display: flex;
  justify-content: center; /* Align the content to the left side */
  align-items: center; /* Vertically center the content */
}

.picture-container {
  display: flex;
  justify-content: flex-end; /* Align the picture to the right side */
  align-items: center; /* Vertically center the picture */
}

@media screen and (min-width: 768px) {
  .options .option {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

/* CSS Footer by Dzenis H.*/

#wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  overflow: hidden;
  text-align: center;
  display: inline-block;
}

#footer {
  display: flex;
  position: unset;
  bottom: 0;
  width: 100%;
  height: 4rem;
  text-align: center;
}

#lightings {
  margin-top: auto;
  bottom: -60px;
  position: absolute;
  width: 100%;
}

section.footer {
  height: 20px;
  width: 100%;
  position: relative;
  margin: auto;
}

#one {
  /*animation*/
  -webkit-animation: one 5s ease-in-out infinite alternate;
  -moz-animation: one 5s ease-in-out infinite alternate;
  -ms-animation: one 5s ease-in-out infinite alternate;
  -o-animation: one 5s ease-in-out infinite alternate;
  animation: one 5s ease-in-out infinite alternate;
}

@-webkit-keyframes one {
  from {
    -webkit-box-shadow: 0 0 250px 20px #473c78;
  }

  to {
    -webkit-box-shadow: 0 0 100px 15px #473c78;
  }
}

@-moz-keyframes one {
  from {
    -moz-box-shadow: 0 0 250px 10px #473c78;
  }

  to {
    -moz-box-shadow: 0 0 100px 15px #f72a3b;
  }
}

@-o-keyframes one {
  from {
    -o-box-shadow: 0 0 250px 10px #473c78;
  }

  to {
    -o-box-shadow: 0 0 100px 5px #f72a3b;
  }
}

@keyframes one {
  from {
    box-shadow: 0 0 250px 5px #473c78;
  }

  to {
    -webkit-box-shadow: 0 0 100px 15px #473c78;
  }
}

#two {
  width: 90%;
  /*animation*/
  -webkit-animation: two 4s ease-in-out infinite alternate;
  -moz-animation: two 4s ease-in-out infinite alternate;
  -ms-animation: two 4s ease-in-out infinite alternate;
  -o-animation: two 4s ease-in-out infinite alternate;
  animation: two 4s ease-in-out infinite alternate;
}

@-webkit-keyframes two {
  from {
    -webkit-box-shadow: 0 0 250px 20px #18c499;
  }

  to {
    -webkit-box-shadow: 0 0 100px 20px #d8f05e;
  }
}

@-moz-keyframes two {
  from {
    -moz-box-shadow: 0 0 250px 20px #18c499;
  }

  to {
    -moz-box-shadow: 0 0 250px 20px #d8f05e;
  }
}
@-o-keyframes two {
  from {
    -o-box-shadow: 0 0 250px 20px #18c499;
  }

  to {
    -o-box-shadow: 0 0 100px 15px #d8f05e;
  }
}

@keyframes two {
  from {
    box-shadow: 0 0 250px 10px #18c499;
  }

  to {
    box-shadow: 0 0 100px 15px #d8f05e;
  }
}

#three {
  width: 80%;
  /*animation*/
  -webkit-animation: three 3s ease-in-out infinite alternate;
  -moz-animation: three 3s ease-in-out infinite alternate;
  -ms-animation: three 3s ease-in-out infinite alternate;
  -o-animation: three 3s ease-in-out infinite alternate;
  animation: three 3s ease-in-out infinite alternate;
}

@-webkit-keyframes three {
  from {
    -webkit-box-shadow: 0 0 250px 20px #ffdd00;
  }

  to {
    -webkit-box-shadow: 0 0 100px 15px #3e33ff;
  }
}
@-moz-keyframes three {
  from {
    -moz-box-shadow: 0 0 250px 20px #ffdd00;
  }

  to {
    -moz-box-shadow: 0 0 100px 15px #3e33ff;
  }
}
@-o-keyframes three {
  from {
    -o-box-shadow: 0 0 250pc 20px #ffdd00;
  }

  to {
    -o-box-shadow: 0 0 100px 15px #3e33ff;
  }
}

@keyframes three {
  from {
    box-shadow: 0 0 250px 20px #ffdd00;
  }

  to {
    box-shadow: 0 0 100px 15px #3e33ff;
  }
}

#four {
  width: 70%;
  /*animation*/
  -webkit-animation: four 2s ease-in-out infinite alternate;
  -moz-animation: four 2s ease-in-out infinite alternate;
  -ms-animation: four 2s ease-in-out infinite alternate;
  -o-animation: four 2s ease-in-out infinite alternate;
  animation: four 2s ease-in-out infinite alternate;
}
@-webkit-keyframes four {
  from {
    -webkit-box-shadow: 0 0 250px 20px #781848;
  }

  to {
    -webkit-box-shadow: 0 0 100px 15px #f2bbe9;
  }
}
@-moz-keyframes four {
  from {
    -moz-box-shadow: 0 0 250px 20px #781848;
  }

  to {
    -moz-box-shadow: 0 0 100px 15px #f2bbe9;
  }
}
@-o-keyframes four {
  from {
    -o-box-shadow: 0 0 250px 20px #781848;
  }

  to {
    -o-box-shadow: 0 0 100px 15px #f2bbe9;
  }
}

@keyframes four {
  from {
    shadow: 0 0 250px 20px #781848;
  }

  to {
    shadow: 0 0 100px 15px #f2bbe9;
  }
}

#five {
  width: 60%;
  /*animation*/
  -webkit-animation: five 1s ease-in-out infinite alternate;
  -moz-animation: five 1s ease-in-out infinite alternate;
  -ms-animation: five 1s ease-in-out infinite alternate;
  -o-animation: five 1s ease-in-out infinite alternate;
  animation: five 1s ease-in-out infinite alternate;
}
@-webkit-keyframes five {
  from {
    -webkit-box-shadow: 0 0 150px 10px #42f2a1;
  }

  to {
    -webkit-box-shadow: 0 0 100px 15px #f4f6ad;
  }
}
@-moz-keyframes five {
  from {
    -moz-box-shadow: 0 0 150px 10px #42f2a1;
  }
}
